<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
function deleteByNo(empNo) {
    console.log(empNo)
    const reqUrl = "/admin/employee/delete/" + empNo
    $.ajax({
        type: "delete",
        url: reqUrl,
        // dataType: "json"
        success: function () {
            console.log("ajax 성공")
            // 삭제 성공 시 회원목록으로
            location.href = "/admin/employee/list"
        },
        error: function () {
            alert("ajax 실패")
        }
    })
}
</script>
<body>
<h2>list.html</h2>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>상세조회</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <!-- 스프링 프레임워크에 <c:forEach items="${mList}" var="m"> 와 같은 역할 -->
        <tr th:each="employee: ${employeeList}">
            <td th:text="${employee.empNo}">번호</td>
            <td th:text="${employee.empEmail}">이메일</td>
            <td th:text="${employee.empPassword}">비밀번호</td>
            <td th:text="${employee.empName}">이름</td>
            <td><a th:href="@{|/templates/admin/employee/detail/${employee.empNo}|}">조회</a></td>
            <td><button th:onclick="deleteByNo([[${employee.empNo}]])">삭제</button></td>
        </tr>
    </tbody>
</table>
</body>
</html>