<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
function deleteByNo(memberNo) {
    console.log(memberNo)
    const reqUrl = "/admin/member/delete/" + memberNo
    $.ajax({
        type: "delete",
        url: reqUrl,
        // dataType: "json"
        success: function () {
            console.log("ajax 성공")
            // 삭제 성공 시 회원목록으로
            location.href = "/admin/member/list"
        },
        error: function () {
            alert("ajax 실패")
        }
    })
}
</script>
<body>
<h2>list.html</h2>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>상세조회</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <!-- 스프링 프레임워크에 <c:forEach items="${mList}" var="m"> 와 같은 역할 -->
        <tr th:each="member: ${memberList}">
            <td th:text="${member.memberNo}">번호</td>
            <td th:text="${member.memberEmail}">이메일</td>
            <td th:text="${member.memberPassword}">비밀번호</td>
            <td th:text="${member.memberName}">이름</td>
            <td><a th:href="@{|/admin/member/detail/${member.memberNo}|}">조회</a></td>
            <td><button th:onclick="deleteByNo([[${member.memberNo}]])">삭제</button></td>
        </tr>
    </tbody>
</table>
</body>
</html>