<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경하기</title>
    <script>
        async function changePassword(event) {
            event.preventDefault(); // 기본 폼 제출 방지

            // URL에서 empNo 추출
            const urlParams = new URLSearchParams(window.location.search);
            const empNo = urlParams.get('empNo'); // URL 파라미터에서 empNo 가져오기
            const oldPassword = document.getElementById("oldPassword").value;
            const newPassword = document.getElementById("newPassword").value;

            const response = await fetch("/login/changePassword", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ empNo, oldPassword, newPassword }) // JSON 형식으로 데이터 전송
            });

            if (response.ok) {
                // 비밀번호 변경 성공
                alert("비밀번호가 성공적으로 변경되었습니다.");
                window.location.href = "/login"; // /login 페이지로 리다이렉트
            } else {
                // 비밀번호 변경 실패
                const errorMessage = await response.text();
                alert("비밀번호 변경 실패: " + errorMessage);
            }
        }
    </script>
</head>
<body>

    <h2> 비밀번호 변경하기 </h2>
    <form onsubmit="changePassword(event)">
<!--        <div>-->
<!--            <input type="hidden" id="empNo" name="empNo" value=empNo>-->
<!--        </div>-->
        <div>
            <label for="oldPassword">현재 비밀번호:</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
        </div>
        <div>
            <label for="newPassword">새 비밀번호:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div>
            <button type="submit">비밀번호변경</button>
        </div>
    </form>
</body>
</html>