<html layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${mail.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <!--            <div class="card-text" style="white-space: pre-line;" th:text="${mail.message}"></div>-->
            <div class="card-text" th:utext="${mail.message}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${mail.createDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">발송 일자</div>
                    <div th:text="${#temporals.format(mail.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <div th:if="${mail.receiverMailAddress != null}" th:text="${mail.receiverMailAddress}"></div>
                    </div>
<!--                    <div th:text="${#temporals.format(mail.createDate, 'yyyy-MM-dd HH:mm')}"></div>-->
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" th:data-uri="@{|/mail/delete/${mail.id}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   th:text="삭제"></a>
<!--                   th:if="${mail.receiverMailAddress != null and #authentication.getPrincipal().getUsername() == mail.receiverMailAddress.username}"-->
<!--                   th:text="삭제"></a>-->
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

</script>


</html>

피
시방 갈지 고민중